BasedOnStyle: Google
Language: Cpp

# General formatting
ColumnLimit: 120
IndentWidth: 2
UseTab: Never

# Brace / bracket style: Allman
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true

# Ensure even small one-liners are broken into new line blocks
AllowShortFunctionsOnASingleLine: None

# Pointer style
PointerAlignment: Left

# Preprocessor indentation
IndentPPDirectives: AfterHash
