BasedOnStyle: Google
Language: Cpp

ColumnLimit: 120
IndentWidth: 2
UseTab: Never

# Function formatting
AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakAfterDefinitionReturnType: TopLevel

BreakBeforeBraces: Allman
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true

PointerAlignment: Left
Cpp11BracedListStyle: true
IndentPPDirectives: AfterHash

# Ensures declarations stay compact, while definitions break
SeparateDefinitionBlocks: Always
ArrayInitializerAlignmentStyle: Always

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false